# Functions
   -Buit in
   
   -User defined

In [2]:
print("Hello")

Hello

In [3]:
len("Hello")

5

What is a function?
  Advantage : code reuseablity
              
              code simplicity/readablity
              bug resolving

In [4]:
#Function define
# Function call
# Result

##### Defining a function

In [5]:
def function_name():
    #     function_body
    #     function_body
    #     function_body
    #     function_body
    #     function_body
    #     function_body
    print("I am body of my function")

#### Calling a function

In [6]:
function_name()

I am body of my function

In [7]:
function_name()
function_name()
function_name()
function_name()
function_name()
function_name()
function_name()

I am body of my function
I am body of my function
I am body of my function
I am body of my function
I am body of my function
I am body of my function
I am body of my function

In [8]:
# Parameterless function

def greetUser():
    print("Welcome")

In [9]:
greetUser()

Welcome

Parameters & Arguments
   - Parameters are expexted values given from user
   - Arguments are values that user supplies to function

In [10]:
# parametrized function
def greetUser(userName):#parameter
    name = userName.upper()
    print(f"Welcome {name}")

In [15]:
greetUser()

TypeError: ignored

In [16]:
greetUser("Mr. Bean")#Argument

Welcome MR. BEAN

In [17]:

def bio_data(name, age, gender,nationality, email, contact):
    print(f"""
            BIO DATA
            ________
            Name of Student: {name}
            Age of Students:{age}
            Gender : {gender}
            Nationality: {nationality}
            Email: {email}
            Contact: {contact}
            """)

In [18]:
#positional arguments: are assigned according to positional in the parameters
bio_data("Ali",23, "M", 'Pak', 'abc.com', "123456")

            BIO DATA
            ________
            Name of Student: Ali
            Age of Students:23
            Gender : M
            Nationality: Pak
            Email: abc.com
            Contact: 123456

In [19]:
bio_data("Hassan",23, "M", 'Pak', 'abc.com', "123456")

            BIO DATA
            ________
            Name of Student: Hassan
            Age of Students:23
            Gender : M
            Nationality: Pak
            Email: abc.com
            Contact: 123456

In [20]:
def fullName(fname,lname,age):
    print(f"{fname} {lname}")
    print(f"age is {age}")

In [21]:
fullName("Hussain", 23, "Nasir")

Hussain 23
age is Nasir

In [22]:
#Keywords Arguments
fullName(age=34,lname="hussain",fname="Nasir")

Nasir hussain
age is 34

In [23]:
def area0fTriangle(l,b):
    area = 0.5 * l * b
    print(f"Area of triangle is {area} sq.cm")

In [24]:
area0fTriangle(23,45)

Area of triangle is 517.5 sq.cm

In [25]:
area0fTriangle(2,5)

Area of triangle is 5.0 sq.cm

In [26]:
def taxCalculator(income):    
    tax_amount = 0    
    if income >=1000000:        
        tax_amount = income * .20        
    elif income >=500000:        
        tax_amount = income * .10
    elif income >=250000:        
        tax_amount = income * .05
    else:
        tax_amount = income  * 0        
    return tax_amount

In [27]:
taxCalculator(2000000)

400000.0

In [28]:
taxCalculator(1000000)

200000.0

In [29]:
taxCalculator(600000)

60000.0

In [30]:
def grossSalary(salary,tax):
    gross = salary - tax
    print(f"Gross salary is {gross}")

In [31]:
grossSalary(700000,taxCalculator(700000))#None

Gross salary is 630000.0

In [32]:
def abc():
    print("iam abc")
    a  = 1000
    print(a)

### Local Variables and Global Variables
 - Local Variables: All the vairables defined inside a function body are local 
   and CAN Not be accessed out side the function
 - Global Variables: All the vairables defined outside a function body are gloabl and CAN be accessed outside as well as inside the function body

In [33]:
abc()

iam abc
1000

In [34]:
print(a)

NameError: ignored

In [35]:
globalvariable = "im global"
def abc():
    print("iam abc")
    print(globalvariable)
    a  = 1000   # local variable
    print(a) # local vairable accessed inside the function body
    return "I m a returned value"

In [36]:
abc()

iam abc
im global
1000

'I m a returned value'

In [37]:
print(a) # local vairable accessed out side the function body>> error

NameError: ignored

In [38]:
print(globalvariable)

im global

In [39]:
print(abc())

iam abc
im global
1000
I m a returned value

In [40]:
h = 10

In [41]:
hh = 20
def xyz():
    
    print(hh)
    h +=1
    print(h)

In [42]:
xyz()

20

UnboundLocalError: ignored

In [43]:
print(h)

10

In [44]:
def add(num1,num2):
    return num1+num2
    print("I am after return")

In [45]:
res = add(2,3)

In [46]:
res

5

In [47]:
print(f" this is returned {add(2,3)}")

 this is returned 5

In [48]:
print((add([1,4,3,67,2].sort(), 3)))

TypeError: ignored

In [49]:
def squareCube(num):
    s = num**2
    c = num**3
    return s,c

In [50]:
square, cube = squareCube(5)

In [51]:
square

25

In [52]:
cube

125

In [53]:
a=(100,200) #packing

In [54]:
me,you = a

In [55]:
me

100

In [56]:
you

200

# Default Values

In [57]:
print("Nasir")

Nasir

In [58]:
def salaryCalc(basic,bonus=0,commission=500):#default values must be last para
    """Hello i am a salary calc """
    total =  basic + commission
    return total

In [59]:
salaryCalc(10000, 2000)

10500

In [60]:
salaryCalc(1000)

1500

In [61]:
def build_person(first_name, last_name):
    person = {'first': first_name, 'last': last_name}
    return person

In [62]:
musician = build_person('jimi', 'hendrix')
print(musician)

{'first': 'jimi', 'last': 'hendrix'}

In [63]:
def build_person(first_name, last_name, age=''):

    person = {'first': first_name, 'last': last_name}
    if age:
        person['age'] = age
    return person

In [64]:
musician = build_person('jimi', 'hendrix', age=27)
print(musician)

{'first': 'jimi', 'last': 'hendrix', 'age': 27}

In [65]:
musician = build_person('jimi', 'hendrix')
print(musician)

{'first': 'jimi', 'last': 'hendrix'}

In [66]:
def greet_users(names):

    for name in names:
        msg = "Hello, " + name.title() + "!"
        print(msg)

In [67]:
usernames = ['hannah', 'ty', 'margot']
greet_users(usernames)

Hello, Hannah!
Hello, Ty!
Hello, Margot!

In [68]:
greet_users("Ahmed")

Hello, A!
Hello, H!
Hello, M!
Hello, E!
Hello, D!

In [69]:
unprinted_designs = ['iphone case', 'robot pendant', 'dodecahedron']
completed_models = []

In [70]:
while unprinted_designs:
    current_design = unprinted_designs.pop()
    
    print("Printing model: " + current_design)
    completed_models.append(current_design)
    
print("\nThe following models have been printed:")
for completed_model in completed_models:
    print(completed_model)

Printing model: dodecahedron
Printing model: robot pendant
Printing model: iphone case

The following models have been printed:
dodecahedron
robot pendant
iphone case

In [71]:
unprinted_designs

[]

In [72]:
def print_models(unprinted_designs, completed_models):

    while unprinted_designs:
        current_design = unprinted_designs.pop()

        print("Printing model: " + current_design)
        completed_models.append(current_design)

In [73]:
def show_completed_models(completed_models):
    
    print("\nThe following models have been printed:")
    for completed_model in completed_models:
        print(completed_model)

In [74]:
unprinted_designs = ['iphone case', 'robot pendant', 'dodecahedron']
completed_models = []

In [75]:
print_models(unprinted_designs, completed_models)
show_completed_models(completed_models)

Printing model: dodecahedron
Printing model: robot pendant
Printing model: iphone case

The following models have been printed:
dodecahedron
robot pendant
iphone case

In [76]:
print_models(unprinted_designs[:], completed_models)

In [77]:
a = [1,2,3]

In [78]:
b = a  #reference

In [79]:
b.pop()

3

In [80]:
a

[1, 2]

In [81]:
b = a.copy() # by value

In [82]:
b

[1, 2]

In [83]:
c = a[:] # by value

In [84]:
c

[1, 2]

#### Passing an arbitrary number of arguments

In [85]:
def sumAll(num1,num2):
    total = num1 + num

In [86]:
# error due to 1 less parameter
sumAll(12)

TypeError: ignored

In [87]:
def sumAll(num1=0,num2=0):
    return num1 + num2

In [88]:
sumAll(12,2)

14

In [89]:
sumAll(12)

12

In [90]:
sumAll()

0

In [91]:
sumAll(12,23,34)

TypeError: ignored

In [92]:
def make_pizza(*toppings): # *topping is such type of parameter that can hold anynumber of values supplied to it.
    print(toppings)

In [93]:
make_pizza('pepperoni')

('pepperoni',)

In [94]:
make_pizza('mushrooms', 'green peppers', 'extra cheese')

('mushrooms', 'green peppers', 'extra cheese')

In [95]:
def make_pizza(*toppings):

    print("\nMaking a pizza with the following toppings:")
    for topping in toppings:
        print("- " + topping)

In [96]:
make_pizza('pepperoni')
make_pizza('mushrooms', 'green peppers', 'extra cheese')

Making a pizza with the following toppings:
- pepperoni

Making a pizza with the following toppings:
- mushrooms
- green peppers
- extra cheese

In [97]:
def make_pizza(size, *toppings):

    print("\nMaking a " + str(size) + "-inch pizza with the following toppings:")
    for topping in toppings:
        print("- " + topping)

In [98]:
make_pizza(16, 'pepperoni')
make_pizza(12, 'mushrooms', 'green peppers', 'extra cheese')

Making a 16-inch pizza with the following toppings:
- pepperoni

Making a 12-inch pizza with the following toppings:
- mushrooms
- green peppers
- extra cheese

# Using Arbitrary Keyword Arguments

In [99]:
def build_profile(first, last, **user_info):

    profile = {}
    profile['first_name'] = first
    profile['last_name'] = last
    for key, value in user_info.items():
        profile[key] = value
    return profile

In [100]:
user_profile = build_profile('albert', 'einstein',location='princeton',
field='physics',contact = "147852")

In [101]:
print(user_profile)

{'first_name': 'albert', 'last_name': 'einstein', 'location': 'princeton', 'field': 'physics', 'contact': '147852'}

In [102]:
import sqlite3